---
import '@fontsource-variable/manrope'
import HomePage from '../components/HomePage.vue'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CRBroughton.me</title>
	</head>
	<body>
		<div class="flex justify-center items-center h-screen w-screen">
			<HomePage />
		</div>
	</body>
</html>

<style>
body {
  font-family: 'Manrope Variable', sans-serif;
  overflow-x: hidden;
}

</style>