---
import MainLayout from "../layouts/main.astro";
import TalksSections from '../components/TalksSections.vue';
---
<MainLayout>
	<div
		class="flex justify-center items-center min-h-screen w-screen bg-slate-900"
	>
		<div
			class="grid justify-center items-center min-h-screen w-screen xl:max-w-[1920px] xl:max-h-[1080px]"
		>
		<TalksSections />
		</div>
	</div>
</MainLayout>